:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  margin: 5%;
  margin-top: 2rem;
}

* {
  box-sizing: border-box;
}

.mainContent {
  min-height: 65vh;
  background-image: url("../img/unq-logo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat-y;
  background-color: rgba(255, 255, 255, 0.85);
  background-blend-mode: lighten;
  max-width: 1024px;
  margin: 3rem auto;
}

select,
button,
input {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
}

select:hover,
button:hover {
  background-color: #c4122e;
  color: white;
}

@media only screen and (max-width: 574px) {
  html {
    margin: 0.2rem;
  }
}
