.home ul {
  list-style: square;
  padding: 0 1rem;
}
.home li {
  margin-top: 1rem;
  font-weight: bold;
}

.entryData {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  padding: 2rem 0;
  margin: 0 1rem;
  min-height: 65vh;
}

.entryData li {
  margin-bottom: 0.8rem;
}

.orfData {
  list-style: none;
  /* font-family: "Courier New", Courier, monospace; */
  padding: 0;
  padding-left: 1rem;
}

.table {
  border: 2px solid black;
  border-spacing: 25px;
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  margin: auto;
  text-align: center;
}

.tableOut {
  overflow-x: scroll;
  min-height: 65vh;
  margin-top: 3rem;
}

.searchResult {
  list-style: none;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
}

.searchElement h3 {
  margin-bottom: 0px;
  padding: 0px;
}
.searchElement p {
  margin: 0.2rem;
  padding: 0px;
}

.batchDownload form {
  display: flex;
  gap: 0.5rem;
}

@media only screen and (max-width: 574px) {
  .mainContent {
    margin-top: 2rem;
    margin-left: 0;
  }

  .searchResult {
    margin: 0 0.2rem;
  }

  .entryData {
    padding-top: 0;
  }
}
