.genomeInfo {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 2rem 0;
    margin-top: 3rem;
    min-height: 65vh;
}

.genomeInfo li {
    margin-bottom: 0.8rem;
}